<div class="table_lessons" id="card">
    {{#if items}}
    <table>
        <tr>
            <thead>
                <th>Name </th>
                <th>Count </th>
                <th>Price </th>
                <th>Total price</th>
            </thead>
        </tr>
        <tbody id="body">
            {{#each items}}
            <tr>
                <td>
                    {{name}}
                </td>
                <td class="count">
                    {{count}}
                </td>
                <td class="price">
                    {{price}}
                </td>
                <td>
                    <span class="countPrice">0</span>
                </td>
                <td>
                    <a href="/card/remove/{{id}}" class="waves-effect waves-light btn btn-remove"
                        style="background: #e53935" data-id="{{id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
       
    </table>
    <p class="total">{{total}}</p>
    {{else}}
    <h1>Shopping is empty</h1>
    <a href="/lessons">Buy lessons</a>
    {{/if}}
</div>