<div class="table_lessons">
    {{#if lessons}}
    <table>
        <tr>
            <thead>
                <th>Img </th>
                <th>Name </th>
                <th>Year </th>
                <th>Author </th>
                <th>Price</th>
            </thead>
        </tr>
        <tbody>
            {{#each lessons}}
            <tr>
                <td>
                    <img src="{{img}}" alt="" style="width: 32px">
                </td>
                <td>
                    <a href='/lessons/{{id}}'>{{name}}</a>
                </td>
                <td>
                    {{year}}
                </td>
                <td>
                    {{author}}
                </td>
                <td>
                    {{price}}
                </td>
                <td>
                    <a href="/lessons/delete/{{id}}" class="waves-effect waves-light btn"
                        style="background: #e53935">Delete</a>
                </td>
                <td>
                    <form action="/card/add" method="post">
                        <input type="hidden" value="{{id}}" name="id">
                        <button type="submit" class="btn btn-primary">Buy</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <h2>Lessons are empty</h2>
    {{/if}}
</div>